/* Make the image fully responsive */
    * {
      box-sizing: border-box;
      
    } 
      
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
      .fotos {
        
        margin: 5%;
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 10px 10px 10px #555555;
    }
      
      body {
        background: url(img/bg.jpg);
        background-size: cover;
        background-position: top;
    }
      
      h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 2em;
        padding-top: 15px;
    }
    
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }   